
body{
    padding-left: 10px;
    margin: 10px;
    background-color: rgb(229, 229, 234);
}
h1{
   text-align: center;
}
.heading{
    padding: 5px;
    background-color: rgb(82, 82, 140);
    color:white;
    text-align: center;
}
.indata{
  background-color: rgb(201, 201, 209);
  margin: 5px;
  border-radius: 2px;
  padding: 3px;
 margin-left: 10px;
}
.indata:hover{
    box-shadow:2px 2px rgb(68, 70, 74,0.6) ;
   
}
.data{
    color:rgb(0, 0, 0) ;
    padding: 5px;
    padding-left: 10px;
}
span{
    color: red;
}
p{
    border: 1px solid black;
    padding: 5px;
    text-align: justify;
    border-radius: 2px;
}
.final{
    background-color:  rgb(82, 82, 140);
    padding: 5px;
    width: 60px;
    height: 30px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    margin-bottom: 15px;
   
}
.done{
    width: 500px;
    height: 200px;
    text-align: center;
    font-size: x-large;
    color: green;
    background-color: rgb(164, 228, 146);
    padding: 50px;
    margin-top: 50px;
    padding-top: 70px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px rgb(79, 103, 73,0.6);
    border-radius: 10px;
}